<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficinas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de oficinas</h1>
        <table class="table table-hover table-border">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Dirección</th>
                    <th>Nombre</th>
                    <th>Puntos de Atención</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="oficina : ${oficinas}">
                    <td th:text="${oficina.id}"></td>
                    <td th:text="${oficina.direccion}"></td>
                    <td th:text="${oficina.nombre}"></td>
                    <td th:text="${oficina.puntodeatencion}"></td>
                    <td>
                        <a th:href="@{'/oficinas/' + ${oficina.id} + '/edit'}">
                            Editar
                        </a>
                        <a th:href="@{'/oficinas/' + ${oficina.id} + '/delete'}" onclick="return confirm('¿Estás seguro de borrar?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </tbody>            
        </table>
        <div>
            <a th:href="@{/oficinas/new}" class="btn btn-success">Agregar Oficina</a>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
        </div>
    </div>
</body>
</html>
